<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Covid19 Tracker</title>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Other CSS Links -->
  <link rel="stylesheet" href="CSS/style.css" />

  <!-- AngularJS CDN -->
  <script src="https://code.angularjs.org/1.8.0/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.8.0/angular-route.min.js"></script>

  <!-- ChartJS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- Other JS files -->
  <script type="module" defer src="index.js"></script>
</head>

<body ng-controller="navbarCtrl">
  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container-fluid" >
      <div class="navbar-header">
        <a href="./" class="navbar-brand">COVID19 TRACKER</a>
      </div>
      <nav class="navbar navbar-expand-md" role="navigation" ng-if="isLoggedIn === true">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="#"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/india"> India </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/world"> World </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/assessYourself"> Assess Yourself </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/knowMore"> Know More </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/signOut"> Sign Out </a>
          </li>
        </ul>
      </nav>
      <nav class="navbar navbar-expand-md" role="navigation" ng-if="isLoggedIn === false">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="#"> Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/world"> World </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/login"> Login </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/signup"> SignUp </a>
          </li>
          
        </ul>
      </nav>
    </div>
  </header>

  <div class="container" ng-view>
    <!-- Angular Routing Here -->
  </div>

  <!-- CRYPTO CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.3.0/enc-utf8.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/aes.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/index.min.js"></script>

  <!-- Bootstrap JS plugins -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>