<!-- Page Heading -->
<div id="pageTitle">
  India Covid19 Updates
</div>

<!-- Total Country Data-->
<div class="row" ng-mouseover="updateChartToHoveredState('INDIA')">
  <div id="countryData" ng-repeat="data in countryData" class="col" ng-class="data.CSS">

    <h5>{{ data.CASE_TYPE }}</h5>
    <h3 style="font-weight: bold">{{ data.CASE_COUNT }}</h3>

  </div>
</div>

<!-- StateWise Data -->
<div class="row" style="padding: 2rem 0rem">

  <!-- Left Panel -->
  <div class="col-sm-12 col-md-6">
    <table class="table table-hover table-sm" id="indiaDataTable" ng-cloak>
      <thead>
        <tr>
          <th scope="col">State/UT</th>
          <th scope="col">C</th>
          <th scope="col">A</th>
          <th scope="col">R</th>
          <th scope="col">D</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="state in stateData" ng-mouseover="updateChartToHoveredState(state.STATE_CODE)">
          <th scope="row">{{ state.NAME }}</th>
          <td style="color: #ff073a"> {{ state.CONFIRMED }} </td>
          <td style="color: #007bff"> {{ state.ACTIVE }} </td>
          <td style="color: #28a745"> {{ state.RECOVERED }} </td>
          <td style="color: #6c757d"> {{ state.DEATHS }} </td>
          <td>
            <i class="fa fa-download" style="font-size: 14px" ng-click="generateStateReport(state.NAME)"
              aria-hidden="true"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Right Panel -->
  <div class="col-sm-12 col-md-6">

    <div id="chartsTitle">
      {{currentStateShown}} Visualisation
    </div>

    <div class="row" style="text-align: center; padding: 0rem 0rem 1rem 0rem;">
      <div class="col-sm-6">
        <button ng-click="changeChartDisplayToCumulative()" type="button"
          class="btn btn-outline-secondary btn-sm">Cumulative</button>
      </div>
      <div class="col-sm-6">
        <button ng-click="changeChartDisplayToDaily()" type="button"
          class="btn btn-outline-secondary btn-sm">Daily</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <canvas id="confirmedChart"></canvas>
        <p style="text-align: center">{{chartTimeLine}} Confirmed Cases: <span id="confirmedSpan"></span></p>
      </div>

      <div class="col-sm-12">
        <canvas id="activeChart"></canvas>
        <p style="text-align: center">{{chartTimeLine}} Active Cases: <span id="activeSpan"></span></p>
      </div>

      <div class="col-sm-12">
        <canvas id="recoveredChart"></canvas>
        <p style="text-align: center">{{chartTimeLine}} Recovered Cases: <span id="recoveredSpan"></span></p>
      </div>

      <div class="col-sm-12">
        <canvas id="deceasedChart"></canvas>
        <p style="text-align: center">{{chartTimeLine}} Deceased Cases: <span id="deceasedSpan"></span></p>
      </div>
    </div>
  </div>

</div>